@font-face {
    font-family: 'robotobold';
    src: url('font/roboto-bold-webfont.eot');
    src: url('font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-bold-webfont.woff2') format('woff2'),
         url('font/roboto-bold-webfont.woff') format('woff'),
         url('font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-regular-webfont.eot');
    src: url('font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-regular-webfont.woff2') format('woff2'),
         url('font/roboto-regular-webfont.woff') format('woff'),
         url('font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto-light_allfont.ru-webfont.eot');
    src: url('font/roboto-light_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-light_allfont.ru-webfont.woff2') format('woff2'),
         url('font/roboto-light_allfont.ru-webfont.woff') format('woff'),
         url('font/roboto-light_allfont.ru-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body { min-width:1000px;}
body {
	margin:0;
	color:#4d4d4d;
	font:14px Arial, Helvetica, sans-serif;
	background:#fff;
}
img {border-style:none;}
a {
	text-decoration:underline;
	color:#333;
}
a:hover {
	text-decoration:none;
}
input, 
textarea, 
select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#333;
}
form, 
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
.no-res .inner {
	width:1000px;
}
.inner {
	max-width:1000px;
	margin:0 auto;
	position:relative;
}
.holder { overflow:hidden;}
.holder-after:after {
	clear:both;
	content:"";
	display:block;
}
/* header */
#header {
	height:74px;
	background: url(../images/bg-header.png) repeat-x 50% 0;
	margin:0 0 60px;
}
#header .ico {
	position:absolute;
	display:block;
	z-index:2;
}
#header .ico img { display:block;}
#header .ico.ico-left {
	left:11px;
	top:16px;
}
#header .ico.ico-right {
	right:13px;
	top:14px;
}
.header-inner {
	width:729px;
	height:75px;
	position:relative;
	background:#fff;
	margin:0 auto;
	padding:9px 0 0;
	box-sizing: border-box;
}
.header-inner:after {
	position:absolute;
	top:0;
	left:-1px;
	width:69px;
	height:74px;
	content:"";
	clear:both;
	display:block;
	background: url(../images/bg-header-left.png) no-repeat;
	z-index:1;
}
.header-inner:before {
	position:absolute;
	top:0;
	right:-1px;
	width:73px;
	height:74px;
	content:"";
	clear:both;
	display:block;
	background: url(../images/bg-header-right.png) no-repeat;
	z-index:1;
}
.phone {
	float:left;
	padding:0 0 0 26px;
	margin:14px 0 0 57px;
	background: url(../images/ico-phone.png) no-repeat 0 3px;
	position:relative;
	z-index:2;
}
.phone span {
	display:block;
	font:17px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
.phone a {
	display:block;
	font:12px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#ababab;
	text-align:center;
}
.phone a:hover {
	text-decoration:underline;
	color:#1e98ff;
}
.mail {
	float:right;
	padding:10px 54px 0 0;
	position:relative;
	z-index:2;
}
.mail span {
	text-align:right;
	font:17px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
	padding:0 10px 0 0;
	display:block;
}
.mail span a {
	text-decoration:none;
	color:#323232;
}
.mail span img {
	display:inline-block;
	vertical-align:middle;
	margin:0 10px 0 0;
}
.mail span:first-child {
	padding:0;
}
.mail span:first-child img { margin:0 6px 0 0;}
.logo-mob { display:none;}
.logo a{
	display:block;
	height:100%;
}
.logo {
	display:block;
	width:252px;
	height:113px;
	margin:0 auto 0;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/logo.png) no-repeat;
}
/* Navigation */
#nav {
	margin:0 auto 28px;
	padding:0;
	list-style:none;
	width:100%;
	display:table;
}
#nav > li {
	height:49px;
	display:table-cell;
	text-align:center;
	vertical-align:text-bottom;
	position:relative;
	margin:0;
	background:none;
	padding:0 17px;
}
#nav > li.drop {
	padding:0 31px 0 12px;
}
#nav > li:nth-child(9) { padding-right:12px;}
#nav > li:first-child {
	width:6%;
	overflow:hidden;
	padding:0;
}
#nav > li:first-child a {
	height:100%;
	display:block;
}
#nav > li:first-child a img { padding:20px 0 0;}
#nav > li a .item {
}
#nav > li a .item {
	word-break: break-word;
}
#nav > li.drop a .item {
	background: url(../images/arrow-nav-drop.png) no-repeat 100% 60%;
	padding-right:20px;
	margin-right:-20px;
	display:inline-block;
}
#nav > li a .ico {
	height:22px;
	display:block;
	margin:0 auto;
}
#nav li a img {
	display:inline-block;
	vertical-align:middle;
}
#nav > li > a img.none { display:inline-block;}
#nav > li > a img.active { display:none;}
#nav > li > a img.hover { display:none;}
#nav > li > a:hover img.none { display:none;}
#nav > li > a:hover img.hover { display:inline-block;}
#nav > li.active > a img.none { display:none;}
#nav > li.active > a img.hover { display:none;}
#nav > li.active > a img.active { display:inline-block;}
#nav > li:hover > a img.none,
#nav > li.hover > a img.none { display:none;}
#nav > li:hover > a img.hover,
#nav > li.hover > a img.hover { display:inline-block;}
#nav > li:hover > a img.active,
#nav > li.hover > a img.active { display:none;}
#nav > li a {
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#353535;
	text-decoration:none;
	height:100%;
}
#nav > li.active > a {color:#353535;}
#nav > li:hover > a,
#nav > li a:hover,
#nav > li a.active {
	color:#1e98ff;
}
.drop-menu {
	padding:2px 13px;
	margin:0;
	list-style:none;
	border:1px solid #fff;
	background:#a8a8a8 url(../images/bg-drop-menu.png) no-repeat 50% 50%;
	position:absolute;
	top:49px;
	/*left:50%;
	margin-left:-50px;*/
	left:0;
	z-index:999;
	text-align:left;
	box-sizing: border-box;
	width:170px !important;
}
.drop-menu li {
	padding:7px 0;
	margin:0;
	background:none;
}
#nav .drop-menu li a {
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
}
#nav .drop-menu li a:hover {
	color:#1e98ff;
	text-shadow:1px 0 7px #fff;
	text-decoration:none;
}
/* Main */
.no-res #main {
	width:1000px;
}
#main {
	max-width:1000px;
	margin:0 auto;
}
/* Content */
#content {
	
}
.block {
	border:1px solid #ababab;
	background:#fff;
	margin-bottom:12px;
}
.title-block {
	height:42px;
	text-align:center;
	background: url(../images/bg-title-block.png) repeat-x;
	text-transform:uppercase;
	font:20px/42px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0;
}
.title-block img {
	display:inline-block;
	margin:0 8px 0 0;
}
.stock-list {
	margin:0;
	padding:18px 0 25px;
	list-style:none;
	font-size:0;
	line-height:0;
}
.stock-list li {
	display:inline-block;
	vertical-align:top;
	width:50%;
	padding:0 4px;
	box-sizing:border-box;
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232; 
	background:none;
}
.stock-list li a.title {
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font:17px 'robotoregular', Arial, Helvetica, sans-serif;
	display:table;
	margin:0 auto 20px;
	color:#323232;
}
.stock-list li a.title:hover {
	color:#1e98ff;
}
.stock-list li p { margin:0;}
.stock-list li .title span.text {
	display:table-cell;
	vertical-align:middle;
}
.stock-list li .title span.text span {
	border-bottom:1px dotted #363636;
	padding:0 0 0 17px;
	margin:0 0 0 -2px;
}
.stock-list li .title .img {
	display:table-cell;
	vertical-align:middle;
	height:42px;
	width:42px;
	border:1px dotted #363636;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	text-align:center;
}
.stock-list li .title .img img {
	vertical-align:middle;
}
.stock-list li div .img {
	float:left;
	width:50%;
	margin:0 10px 0 0;
}
.stock-list li div .img img {
	display:block;
	width:100%;
}
.about-box {
	padding:15px 16px 20px;
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:323232;
}
.about-box strong { font-family:'robotobold', Arial, Helvetica, sans-serif; font-weight:normal;}
.about-box p { margin:0 0 18px;}
.about-box a.more {
	float:right;
	margin:0 44px 0 0;
	font:12px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#797979;
}
.about-box a.more:hover {
	text-decoration:underline;
	color:#1e98ff;
}
.about-info {
	margin:0 0 15px;
	padding:0;
	list-style:none;
	overflow:hidden;
	border:1px dotted #afb0ae;
}
.about-info li {
	overflow:hidden;
	display:table-cell;
	vertical-align:top;
	width:33.3%;
	height:100%;
	padding:0;
	background:none;
	border-left:1px dotted #afb0ae;
	box-sizing:border-box;
	text-align:center;
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
}
.about-info li:first-child { border:none;}
.about-info li img {
	display:block;
	margin:15px auto;
}
.partners-box {
	float:left;
	width:260px;
	margin-right:12px;
}
.partners-inner {
	padding:15px 11px 15px 15px;
}
.partners-inner .more {
	display:block;
	font:12px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#797979;
	text-align:center;
}
.partners-inner a.more:hover {
	text-decoration:underline;
	color:#1e98ff;
}
.partners-list {
	margin:0 0 12px;
	padding:0;
	list-style:none;
	border-bottom:1px dotted #b9b9b8;
}
.partners-list li {
	padding:13px 0 5px;
	background: url(../images/separator-partners-list.png) no-repeat 50% 0;
	font:13px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#717171;
	text-align:center;
}
.partners-list li:first-child {
	background:none;
}
.partners-list li p { margin:0;}
.partners-list li img {
	display:block;
	margin:0 auto 8px;
}
.news-box {
	 padding:5px 0 22px 15px;
	 overflow:hidden;
}
.news-list {
	margin:0;
	list-style:none;
	padding:0;
	float:left;
	width:62.6%;
}
.news-list > li {
	padding:30px 0 0;
	font:13px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	background:none;
}
.news-list > li:first-child { padding:0;}
.news-list > li .img {
	float:left;
	width:100px;
	margin:0 10px 0 0;
	padding:1px;
	border:1px solid #9e9f9d;
}
.news-list > li .img img {
	display:block;
	width:100%;
}
.news-list > li .title {
	display:block;
	font:17px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	text-decoration:none;
	margin:0 0 8px;
}
.news-list li p { margin:0 0 15px;}
.news-list li .date {
	display:block;
	font:normal 13px 'robotolight', Arial, Helvetica, sans-serif;
	color:#9e9f9d;
	margin:0 0 10px;
}
.news-list li .more-holder {
	text-align:right;
}
.news-list li a.more {
	font:12px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#797979;
}
.news-list li a.more:hover {
	color:#1e98ff;
	text-decoration:underline;
}
.map-box {
	float:right;
	/*margin:0 0 0 18px;*/
	width:/*247px*/34.84%;
	overflow:hidden;
	min-width:220px;
}
.map-box .map img {
	display:block;
	width:100%;
}
.contat-box {
	background:#9d9e9c;
	padding:17px 20px;
}
.contat-box a.reg {
	display:block;
	height:42px;
	text-align:center;
	margin:0 5px;
	font:17px/42px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#e4222d;
	text-decoration:none;
	background:#fff;
	-webkit-transition: 0.1s;
     -moz-transition: 0.1s;
     -o-transition: 0.1s;
     transition: 0.1s;
}
.contat-box a.reg:hover {
	background:#1e98ff;
	color:#fff;
}
.contat-box address {
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
	margin:0 0 12px;
	padding:0 0 0 30px;
	background: url(../images/ico-address.png) no-repeat 0 50%;
}
.contat-box .phone-contact {
	font:18px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff; 
	display:block;
	margin:0 0 12px;
	padding:0 0 0 30px;
	background: url(../images/ico-phone-01.png) no-repeat 0 50%;
}
.contat-box .mail1 {
	font:18px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
	margin:0 0 12px;
	padding:0 0 0 30px;
	background: url(../images/ico-mail-03.png) no-repeat 4px 50%;
	
}
.contat-box .mail2 {
	font:18px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
	margin:0 0 12px;
	padding:0 0 0 30px;
	background: url(../images/ico-mail-04.png) no-repeat 5px 50%;
	
}
.contat-box .mail1 a,
.contat-box .mail2 a {
	text-decoration:none;
	color:#fff;
}
/* Footer */
.no-res #footer {
	min-width:1000px;
}
#footer {
	background: url(../images/bg-footer.png) repeat-x;
	border-bottom:1px solid #fff;
	height:70px;
	font:15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#fff;
}
#footer .inner {
		padding-left:7px;
		padding-right:7px;
		box-sizing: border-box; 
	}
.copyright {
	display:table-cell;
	height:70px;
	vertical-align:middle;
}
.copyright span { text-transform:uppercase;}
.dev-logo {
	width:149px;
	height:70px;
	background: url(../images/logo-kvinta.png) no-repeat 0 50%;
	float:right;
}
.menu-phone {
	width:20px;
	position:absolute;
	top:233px;
	left:16px;
	z-index:999;
	display:none;
	-webkit-transition: 0.7s;
     -moz-transition: 0.7s;
     -o-transition: 0.7s;
     transition: 0.7s;
}
.menu-phone.active {
	top:16px;
}
.menu-phone span {
	display:block;
	margin:3px 0 0;
	height:2px;
	background:#9d9e9c;
}
.menu-phone span:first-child { margin:0;}

/* inner */
.install-box {
	padding:20px 17px 0;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
}
.install-box p { margin:0 0 18px;}
.install-box p strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.install-list {
	margin:5px 0 20px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.install-list li {
	padding:0;
	background:none;
	text-align:center;
	width:50%;
	float:left;
	display:table;
	padding:0 0 0 14px;
	box-sizing: border-box;
}
.install-list li:first-child {
	padding:0 14px 0 0;
}
.install-list li div {
	height:231px;
	margin:0 14px;
	border:1px dotted #b1b1b0;
	display:table-cell;
	vertical-align:middle;
	width:100%;
}
.install-list li img {
	display:inline-block;
}
.product-box {
	padding:38px 17px 25px;
}
.promo-product {
	overflow:hidden;
	margin:0 0 40px;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
}
.promo-product img {
	float:left;
	margin:0 22px 0 0;
	border:1px solid #ababab;
}
.product-box p { margin:0 0 18px;}
.product-box p strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.product-box .name {
	display:block;
	font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;
	color: #323232;
	text-transform:uppercase;
}
.product-box  strong.name { margin:0 0 18px;}
.product-box h4 {
	text-transform:uppercase;
	text-align:center;
	margin:0 0 18px;
}
.product-box ul.feature-list {
	margin:0;
	padding:0;
	list-style:none;
}
.feature-list li {
	margin:0 0 10px;
	border:1px dotted #838383;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
	overflow:hidden;
	padding:3px 12px 2px;
	background:none;
}
.feature-list li strong,
.feature-list li span {
	float:left;
	width:50%;
}
.feature-list li strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.product-box strong.title { margin:0 0 18px;}
.product-box ul { margin:0 0 30px;}
.product-box ul.two-p { margin:0;}
ul.two-p li {
	background:none;
}
ul.two-p li:first-child {
	background: url(../images/bullet-ul.png) no-repeat 0 50%;
}

.services-list {
	margin:20px 0 34px;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.services-list li {
	padding:0;
	background:none;
	text-align:center;
	width:50%;
	float:left;
	padding:0 20px;
	margin:0;
	box-sizing: border-box;
}
.services-list li div {
	box-sizing: border-box;
	border:1px dotted #b1b1b0;
	display:block;
	min-height:231px;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
	padding:0 15px 15px;
}
.services-list li div p { margin:0;}
.services-list li a {
	padding:22px 0 15px;
	display:block;
	width:100%;
	text-decoration:none;
	text-transform:uppercase;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
}
.services-list li a span {
	text-align:center;
	display:block;
	margin:0 0 20px;
}
.services-list li img {
	display:block;
	margin:0 auto;
}
/* inner-1 */
.parts-box {
	padding:17px 17px 0 20px;
	overflow:hidden;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color: #323232;
}
.parts-box p { margin:0 0 18px;}
.parts-box p strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.parts-box .img-box {
	float:right;
	width:380px;
	border:1px dotted #838383;
	margin:0 0 0 29px;
	padding:8px 0 15px;
}
.parts-box .img-box .name {
	display:block;
	text-align:center;
	margin:0 0 15px;
	font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
	text-transform:uppercase;
}
.parts-box .img-box img {
	display:block;
	margin:0 auto;
}
.parts-box .contact-info {
	text-transform:uppercase;
	font: 15px 'robotobold', Arial, Helvetica, sans-serif;
	text-align:center;
}
.parts-box .contact-info p span { display:block;}
.order-form {
	padding:15px 15px 20px 18px;
}
.order-form .name-price {
	display:block;
	font: 20px 'robotobold', Arial, Helvetica, sans-serif;
	color:#2c2c2c;
	margin:0 0 15px;
	text-align:center;
}
.order-form a.pricelist {
	width:907px;
	height:55px;
	display:block;
	margin:0 auto 25px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	font: 20px/55px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#ed3237;
	border:1px solid #ed3237;
}
.order-form a.pricelist:hover {
	color:#fff;
	background:#1e98ff;
	border:1px solid #1e98ff;
}
.order-form .name-form {
	display:block;
	text-align:center;
	margin:0 0 30px;
	font: 20px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
.order-form input[type="text"] {
	padding:0 0 0 19px;
	height:45px;
	border:1px solid #000;
	background:#fff;
	font: 15px/45px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	box-sizing:border-box;
}
.info-user {
	overflow:hidden;
	margin:0 0 40px;
}
.info-user input {
	float:left;
	margin:0 0 0 32px;
	width:249px;
}
.info-user input.name {
	margin:0;
}
.info-user input.lastname {
	width:396px;
}
.order-form .descriptin {
	display:block;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	margin:0 0 8px;
}
.company-name { margin:0 0 40px;}
.company-name input[type="text"] {
	float:left;
	margin:0 0 0 35px;
	width:461px;
}
.company-name input:first-child { margin:0;}
.info-order {
	overflow:hidden;
}
.info-order textarea {
	width:461px;
	height:207px;
	padding:15px 10px;
	float:left;
	margin:0 35px 0 0;
	resize:none;
	border:1px solid #000;
	background:#fff;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	box-sizing:border-box;
}
.info-order input[type="text"] {
	margin:33px 0 0;
	float:none;
	display:block;
	width:249px;
}
.phone-info input[type="text"]:first-child { margin:0;}
.delivery-check {
	overflow:hidden;
	margin:0 0 35px;
}
.delivery-check .descriptin {
	float:left;
	margin:0 78px 0 0;
}
.delivery-check .holder-check {
	float:left;
	margin:0 35px 0 0;
	overflow:hidden;
}
.delivery-check input[type="radio"] {
    display:none;            
}
.delivery-check input[type="radio"] + label {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
  cursor: pointer;
}
.delivery-check input[type="radio"] + label::after {
    content: "";
	clear:both;
    display: inline-block;
    height: 16px;
    width: 16px;
	margin:0 0 0 15px;
	position:relative;
	top:3px;
    background: url(../images/checkbox.png) no-repeat;
}
.delivery-check input[type="radio"] + label::after {
    background-position: 0 0;
}
.delivery-check input[type="radio"]:checked + label::after {
    background-position: -16px 0;
}
.delivery-check input[type="radio"]:disabled + label::after {
    background-position: 0 0;
}
.delivery-check input[type="radio"]:checked:disabled + label::after {
    background-position: -16px 0;
}
.info-form {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	padding:28px 0 0;
}
.info-form p { margin:0 0 18px;}
.holder-check.check-deal {
	padding:3px 0 25px;
}
.holder-check input[type="checkbox"] {display:none;}
.holder-check input[type="checkbox"] + label {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
  cursor: pointer;
}
.holder-check input[type="checkbox"] + label::before {
    content: "";
	clear:both;
    display: inline-block;
    height: 16px;
    width: 16px;
	margin:0 24px 0 0;
	position:relative;
	top:3px;
    background: url(../images/checkbox.png) no-repeat;
}
.holder-check input[type="checkbox"] + label::before {background-position: 0 0;}
.holder-check input[type="checkbox"]:checked + label::before {background-position: -16px 0;}
.holder-check input[type="checkbox"]:disabled + label::before {background-position: 0 0;}
.holder-check input[type="checkbox"]:checked:disabled + label::before {background-position: -16px 0;}
.order-form input[type="submit"] {
	border:1px solid #ed3237;
	color:#ed3237;
	background:#fff;
	width:396px;
	height:45px;
	display:block;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	font: 20px/45px 'robotoregular', Arial, Helvetica, sans-serif;
}
.order-form input[type="submit"]:hover {
	color:#fff;
	background:#1e98ff;
	border:1px solid #1e98ff;
}
.contact-hold {
	padding:19px 11px 20px 20px;
	overflow:hidden;
}
.contact-hold .map {
	float:right;
	width:247px;
	height:250px;
	border:1px solid #ababab;
}
.contact-hold .map img {
	display:block;
	width:100%;
	height:100%;
}
.contact-list {
	margin:0;
	padding:5px 0 0;
	list-style:none;
}
.contact-list li {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	margin:18px 0 0;
}
.contact-list li strong {
	font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;
}
.contact-form {
	padding:22px 52px 18px 37px;
}
.contact-form .title {
	display:block;
	text-align:center;
	font: 15px 'robotobold', Arial, Helvetica, sans-serif;
	color:#383838;
	margin:0 0 20px;
}
.contact-form input[type="text"] {
	margin:0 0 14px;
	display:block;
	padding:0 0 0 15px;
	background:#fff;
	border:1px solid #000;
	font: 15px/38px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#383838;
	width:100%;
	height:38px;
	box-sizing:border-box;
}
.contact-form textarea {
	margin:0 0 20px;
	display:block;
	padding:12px 15px 0 15px;
	background:#fff;
	border:1px solid #000;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#383838;
	width:100%;
	height:143px;
	box-sizing:border-box;
	resize:none;
}
.contact-form input[type="submit"] {
	border:1px solid #ed3237;
	color:#ed3237;
	background:#fff;
	width:100%;
	height:45px;
	display:block;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	font: 20px/45px 'robotoregular', Arial, Helvetica, sans-serif;
}
.contact-form input[type="submit"]:hover {
	color:#fff;
	background:#1e98ff;
	border:1px solid #1e98ff;
}
/* inner-3 */
.info-service {
	padding:22px 16px 15px;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
}
.info-service .img-box {
	border:1px solid #ababab;
	max-width:672px;
	margin:0 auto 21px;
	display:block;
}
.info-service strong {
	font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;
}
.info-service p { margin:0 0 18px;}
h2 {
	margin:0 0 12px;
	font:normal 20px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
h3 {
	margin:0 0 20px;
	font:normal 17px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
h4 {
	margin:0 0 15px;
	font:normal 15px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
.info-service h2 {
	text-align:center;
	text-transform:uppercase;
}
strong.title {
	font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;
	display:block;
	margin:0 0 15px;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
ul li {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	padding:0 0 0 24px;
	background: url(../images/bullet-ul.png) no-repeat 0 50%;
	margin:0 0 15px;
}
ul li strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.service-list {
	background:#9d9e9c;
	padding:15px 16px 3px;
	margin:0 -16px 18px;
	color:#fff;
}
.service-list ul li {
	background: url(../images/bullet-ul-2.png) no-repeat 0 50%;
	color:#fff;
}

/* inner-5 */
.news-list.news-list-inner {
	width:100%;
	box-sizing:border-box;
	padding:0 16px 0 0;
}
.news-list.news-list-more {
	width:100%;
	font-size:0;
	line-height:0;
}
.news-list.news-list-more li {
	display:inline-block;
	vertical-align:top;
	width:50%;
	box-sizing:border-box;
	padding:0 48px 0 26px;
	background:none;
}
.news-list.news-list-more li:first-child {
	padding-left:0;
	padding-right:74px;
}
.promo-news {
	margin:0 0 20px;
}
.news-list-inner li .text-article {
	margin:0 0 15px;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#292929;
}
.news-list.news-list-inner li .text-article p { margin:0;}
.news-list-inner li .text-article strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.news-list-inner li h3,
.news-list-inner li h4 {
	text-align:center;
	text-transform:uppercase;
}
.date-box {
	padding:8px 18px 15px;
	border:1px dotted #b2b3b1;
	margin:0 0 16px;
}
.date-box ul li {
	background:none;
	padding:0;
}
.video-holder { margin:0 0 30px;}
.video-holder img {
	display:block;
	margin:0 auto;
}
.logo-list {
	padding:40px 0 25px;
	margin:0;
	list-style:none;
	display:table;
	width:100%;
}
.logo-list li {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	padding:0;
	background:none;
	width:33.3%;
}
.logo-list li a,
.logo-list li img {
	display:inline-block;
}

/* inner-6 */
.contact-block { position:relative;}
.contact-info {
	padding:20px 17px 15px;
}
.contact-info p { margin:0 0 18px;}
.contact-info p strong {font: normal 17px 'robotobold', Arial, Helvetica, sans-serif;}
.contact-info .name-contact {
	display:block;
	margin:0 0 18px;
	font: normal 20px 'robotobold', Arial, Helvetica, sans-serif;
	color:#323232;
}
.contact-info .name-contact span { text-transform:uppercase;}
.contact-block a.order-link {
	position:absolute;
	bottom:15px;
	left:17px;
	width:714px;
	height:41px;
	text-align:center;
	text-decoration:none;
	font: 17px/41px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#ed3237;
	border:1px solid #9d9e9c;
}
.contact-block a.order-link:hover {
	color: #fff;
	background: #1e98ff;
	border: 1px solid #1e98ff;
}
.contact-block .map-box { width:24.7%;}
.schema {
	display:block;
	margin:0 auto;
}
.popup {
	width:611px;
	position:absolute;
	z-index:999;
	display:none;
}
.block.popup { border:none;}
.block.popup .title-block {
	height:34px;
	font-size:15px;
	line-height:34px;
}
.order-popup {
	background:#fff;
	padding:49px 46px 27px 39px;
}
.order-popup input[type="text"] {
	width:100%;
	height:33px;
	border:1px solid #6f6f6f;
	background:#fff;
	font: 15px/33px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#5b5b5b;
	padding:0 0 0 20px;
	margin:0 0 3px;
	box-sizing: border-box;
}
.order-popup .warning {
	display:block;
	padding:8px 0 22px 10px;
	font: 13px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#e61319;
}
.order-popup input[type="submit"] {
	background:#fff;
	color:#ed3237;
	border:1px solid #9d9e9c;
	width:100%;
	height:33px;
	display:block;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	font: 15px/29px 'robotoregular', Arial, Helvetica, sans-serif;
}
.order-popup input[type="submit"]:hover {
	color:#fff;
	background:#1e98ff;
	border:1px solid #1e98ff;
}
.shadow {
	position:fixed;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.34);
	z-index:997;
}
.office-img .img-box { margin-bottom:8px;}
.office-img { margin:0 0 20px;}
.title-info {
	text-align:center;
}
ul.info {
	margin:0;
	padding:0;
	list-style:none;
}
ul.info li {
	padding:0;
	background:none;
}
.partners-list-all {
	padding:0 37px 5px 27px;
	margin:0;
	list-style:none;
}
.partners-list-all li {
	background: url(../images/separator-partners.png) no-repeat 50% 0;
	padding:40px 0 25px;
	overflow:hidden;
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
}
.partners-list-all li:first-child {
	padding-top:25px;
	background:none;
}
.partners-list-all li .ico {
	float:left;
	width:220px;
	margin:0 18px 0 0;
}
.partners-list-all li .ico img {
	display:block;
	margin:0 auto;
}
.partners-list-all li .name {
	display:block;
	font: normal 20px 'robotobold', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.partners-list-all li .deta {
	display:block;
}
.partners-list-all li p { margin:0;}
.partners-list-all li p strong {font: normal 15px 'robotobold', Arial, Helvetica, sans-serif;}
.services-description {
	padding:12px 0 5px;
}
.services-description .service-list {
	margin-left:0;
	margin-right:0;
}
.services-description .service-list strong.title {font: 15px 'robotoregular', Arial, Helvetica, sans-serif;}
.services-client li:first-child {
	background: url(../images/bullet-ul-first.png) no-repeat 0 50%;
}
.about-box h4 {
	text-align:center;
	text-transform:uppercase;
}
.order-processing {
	padding:0;
	margin:0 -16px 30px;
	list-style:none;
	font-size:0;
	line-height:0;
}
.order-processing > li {
	display:inline-block;
	vertical-align:top;
	padding:0 16px;
	width:33.3%;
	box-sizing: border-box;
	background:none;
	margin:0;
}
.order-processing li .hold {
	font: 15px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#323232;
	padding:30px 25px;
	min-height:392px;
	border:1px dotted #aeafae;
}
.order-processing li .hold a { color:#00c6ff;}
.order-processing li .hold img {
	display:block;
	margin:0 auto 20px;
}
.order-processing li p { margin:0;}
.order-processing .contact-order {
	text-align:center;
	margin:0 0 25px;
	display:block;
}
.order-processing li ul {
	margin:0;
	padding:0;
	list-style:none;
}
.order-processing li li {
	margin:0;
	padding:0 0 0 8px;
	background: url(../images/bullet-ul-3.png) no-repeat 0 55%;
	color:#5d5d5d;
}
.title-proces {
	min-height:125px;
}
.title-proces strong {
	text-align:center;
	display:block;
	margin:0 0 12px;
}
.about-box .order-link {
	width:554px;
	height:47px;
	text-align:center;
	text-decoration:none;
	font: 20px/47px 'robotoregular', Arial, Helvetica, sans-serif;
	color:#ed3237;
	border:1px solid #ed3237;
	display:block;
	margin:0 auto;
}
.about-box a.order-link:hover {
	color: #fff;
	background: #1e98ff;
	border: 1px solid #1e98ff;
}
@media(max-width: 610px) {
	.header-inner:after {
		left:-2px;
	}
	.header-inner:before {
		right:-2px;
	}
	.header-inner { height:76px;}
}@media screen and (max-device-width: 480px){
body{
  -webkit-text-size-adjust:none;
}
}